#Countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: xx-large;
    padding-bottom: 30px;
}

#InstructionsText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding-left: 100px;
    padding-right: 100px;
}

#introText {
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: bold;
}

#introPic {
    width: 300px;
    height: 300px;
}