#votingDiv {
    background-color: #282C34;
}

#checkboxArea {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#progressArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.ant-progress-text {
    color: white !important;
}

.ant-checkbox {
    background-color: #282C34;
}

body {
    background-color: #282C34 ;
}