.ant-alert{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.ant-alert-error{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.question-section{
  width: 50%;
}
.answer-section{
  flex-direction: column;
}