p {
    color: white;
    font-weight: 600;
    font-style: italic;
}

/*.ant-collapse {
    width: 50%;
    margin: auto;
    justify-content: center;
    color: #282C34;
}*/

.ant-collapse {
    background-color: #282C34;
    width: 50%;
    margin: auto;
    justify-content: center;
    text-decoration: white;
}

.ant-collapse .ant-panel {
    background-color: #282C34;
    text-decoration: white;
}

.ant-collapse .ant-collapse-item .ant-collapse-header {
    color: white;
    font-weight: bold;
    font-size: medium;
    border: none;
}

.header {
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #282C34;
    padding: 10px;
    white-space: pre-wrap;
}
.header-button{
    color: #ffd617!important;
}

.headertext{
    color: white!important;
    font-size: 3vh!important;
    font-weight: bold;
    font-style: italic;
}